.nav {
  display: flex;
  padding: 5px 10px 5px 25px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.logo {
  margin-left: auto;
  text-align: center;
}

.faBars {
  cursor: pointer;
  color: #555b6d;
  font-size: 20px;
  height: 50px;
}
.faPlus {
  margin-left: 20px;
  margin-right: 0px;
}

.reactLogo {
  height: 50px;
}

.tsLogo {
  height: 40px;
}

.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.3s;
  background-color: #282c34;
  color: #a6b0cf;
}

.mainLayout {
  margin-left: 250px;
  transition: 0.3s;
}

.buscadorContainer {
  display: flex;
}

@media (max-width: 768px) {
  .nav {
    display: block;
  }
  .mainLayout {
    width: 100%;
  }
  .logo {
    display: none;
  }
}
