.nav {
  display: flex;
  padding: 5px 10px 5px 25px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.logo {
  margin-left: auto;
}

.faBars {
  cursor: pointer;
  color: #555b6d;
  font-size: 20px;
  height: 50px;
}
.faPlus {
  margin-left: 20px;
  margin-right: 0px;
}

.reactLogo {
  height: 50px;
}

.tsLogo {
  height: 40px;
}

.sidebar {
  width: 250px;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.3s;
  background-color: #282c34;
  color: #a6b0cf;
}

.mainLayout {
  margin-left: 250px;
}

.formBusqueda {
  display: flex;
  width: 300px;
  padding: 6px 0px;
  margin-right: auto;
  color: #555b6d;
  margin-left: 30px;
}
.spanBusqueda {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #555b6d;
  text-align: center;
  white-space: nowrap;
  border-radius: 20px 0px 0px 20px;
  border-right: 0px;
  height: 2.5rem;
  background-color: #f3f3f6;
}

.inputBusqueda {
  border-width: 0px !important;
  border-radius: 0px 20px 20px 0px !important;
  height: 2.5rem;
  padding: 0.375rem 0.375rem.375rem 0.375rem;
  color: #555b6d;
  background-color: #f3f3f9 !important;
}

.inputBusqueda:hover {
  box-shadow: none !important;
}
