nav {
  display: flex;
  padding: 10px;
}

.PreviewContainer {
  display: flex;
}

.container {
  padding: 25px;
  background-color: #f6f6f9;
}

/* .filtroContainer {
  padding-left: 20px;
} */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  margin-bottom: 24px;
  -webkit-box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);

  border-radius: 15px;
  background-color: #fff;
}

.imgContainer {
  position: relative;
  min-height: 15rem;
}

.imgContainer img {
  width: auto;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 0px 0px;
}

.cardPreview {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  margin-bottom: 24px;
  -webkit-box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
  /* width: 18rem; */
  margin-right: 10px;
  border-radius: 15px;
  border: 1px solid rgb(0, 0, 0, 0);
  padding: 5px;
}

.cardPreview h5 {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.rowCard {
  padding: 20px;
}

.cardBody {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.h3 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px !important;
  color: #495057;
  margin-bottom: 20px;
}

.opcionesFiltro {
  padding-left: 1rem;
}

.opcionesFiltro li {
  list-style: none;
}

.opcionesFiltro li a {
  color: #007185 !important;
  text-decoration: none;
}

.opcionesFiltro li a:hover {
  text-decoration: underline;
}

.tituloFiltro {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.valorar {
  width: 100%;
}

.valorar:hover {
  border: solid 1px rgb(20, 20, 20, 0.2) !important;
}

.faInfo {
  color: #ffc107;
  float: left;
  margin-top: 3px;
}
