nav {
  display: flex;
  padding: 10px;
}

.container {
  padding: 25px;
  background-color: #f6f6f9;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  margin-bottom: 24px;
  -webkit-box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);
  box-shadow: 0 0.75rem 1.5rem rgb(18 38 63 / 3%);

  border-radius: 15px;
  background-color: #fff;
}
.rowCard {
  padding: 20px;
}

.rowCard img {
  max-width: 100%;
  margin: auto;
  border: solid 1px rgb(20, 20, 20, 0.3);
  border-radius: 5px;
}

.fitContent {
  width: fit-content;
}

.h3 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px !important;
  color: #495057;
  margin-bottom: 20px;
}
